<h1>Home page</h1>
<br>
<h2>Recent posts</h2>
<li><a href="/posts/09_24_14">September 24, 2014<a></li>
<li><a href="/posts/09_23_14">September 23, 2014<a></li>
<li><a href="/posts/09_22_14">September 22, 2014<a></li>
