

<div class='main-text'><b>recent posts</b> <!--can't put in h1 or too much vert space?-->
<%  @posts.last(3).reverse.each do |post| %> <!-- < % for Ruby and < %= to inject -->
  <br><a href="<%= post.url %>"> <%= post.print_date(post.title) %></a>
<% end %>
</div>


<!--<form action="/" method='POST'>
  First name:
  <input type="text" name="first_name" />
  <br>
  Last name:
  <input type="text" name="last_name" />
  <br>
  <input type="submit">
</form>-->
