
Test Why doesnt this show up?
<h1>
</h1>
<hr>
Recent posts
<%  @posts.last(3).reverse.each do |post| %> <!-- < % for Ruby and < %= to inject -->
  <br><a href="<%= post.url %>"> <%= post.print_date(post.title) %></a>
<% end %>

<p>test</p>

<!--<form action="/" method='POST'>
  First name:
  <input type="text" name="first_name" />
  <br>
  Last name:
  <input type="text" name="last_name" />
  <br>
  <input type="submit">
</form>-->
