<!DOCTYPE html>
<html>
<head> <!-- meta data, don't load images here -->
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'     type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400' rel='stylesheet' type='text/css'>
 <!-- Removed <link rel="stylesheet" href="/reset.css"> because deformatting everything -->
  <link rel="stylesheet" href="/style.css"> <!--default looks in public dir --> 
</head>

<body>
        
  <div class='header container'>
    <div class='logo'>
    <a href= "/"><img src="/tree-logo1.png" height='75'></a>
    </div>

    <div class = 'name'>
      <a href= "/">C. Perreira</a>
    </div>

    <div class = 'nav'>
      <ul class= 'nav-list'>
        <li><a href= "/about">About</a></li>
        <li><a href= "/resume">Resume</a></li>
        <li>
            <a href= "/blog">Blog</a>
            <ul class='dropdown'>
              <li><a href="/posts/10_02_14">TDD</a></li>
              <li><a href="/posts/09_28_14">Complexity</a></li>
              <li><a href="/blog">All posts</a></li>
            </ul>
        </li>
        <li><a href= "/contact">Contact</a></li>
      </ul>
    </div>
  </div>

  <%= yield %>

  <div class='footer'>
    <ul class = 'icon-list'> 
      <li class="github"><a href="https://github.com/crystalperreira" target="_blank"><img src="/github-128-black.png" width="75" alt="Find me on GitHub"></a></li>
      <li class="linkedin"><a href="http://linkedin.com/pub/crystal-perreira/17/32/175/" target="_blank"><img src="/linkedin-128-black.png" width="75" alt="Find me on LinkedIn"></a></li>
      <li class="twitter"><a href="https://twitter.com/crystaloptera" target="_blank"><img src="/twitter-128-black.png" width="75" alt="Find me on Twitter"></a></li>
    </ul>
  </div>

  <!-- put down here so your overall webpage loads fast, even if js comes later -->
  <script type="text/javascript" src="/jquery.2.1.1.min.js"></script>
  <script type="text/javascript" src="/javascript.js"></script>

</body>
</html>
