body {
  font-family: 'Roboto', 'Helvetica';
  background-color: white;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

a {
  color: #52D017;
}

/* Background image for homepage*/
body.home { 
  background-image: url('/trees3.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Gray bar behind header */
.container {
  width: 1680px;
  margin: 0  auto;
  background-color: white;
  /*background-color: #e5e4e2;*/
}

/* Header */
.header a {
  text-decoration: none;
  color: black;
}

.header {
  height: 175px;
  font-family: 'Roboto', 'Helvetica';
  font-size: 22px;
  font-weight: 300;
 /* background-color: #E5E4E2;*/
}

/* Navigation */
.nav {
  display: inline-block;
  float: left;
}


.nav-list :hover {
  color: #52D017;
}

.nav-list li { 
  margin: 0 5px;
  height: 30px;
  display: inline-block;
  list-style: none;
  padding-top: 81px;
  padding-left: 10px;
}

/*Name in header*/
.name {
  display: inline-block;
  font-size: 42px;
  float:left;
  padding-top: 80px;
  padding-left:100px;
  padding-right: 35px;
}

.name a {
  text-decoration: none;
  color: black;
}

/* Footer */
.footer {
  padding-top: 3px;
  text-align: center;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.icon-list li {
  margin: 0;
  display: inline-block;
  list-style: none;
}

/* Text on blog posts */
.main-text {
  padding-left: 100px;
  padding-right: 100px;
}

/* Green bar below header on blog posts */
.green-bar {
  padding-top: 150px;
  width: 1680px;
  background-color: rgba(82, 208, 23, 0.7)
}

.green-bar > h1 {
  padding-left: 100px;
  padding-right: 100px;
  display: inline-block;
  vertical-align: middle;
}  
