body {
  font-family: 'Roboto', 'Helvetica';
  background-color: white;
  margin: 0;
}

.header {
  display: inline-block;
  height: 80px;
  font-family: 'Roboto', 'Helvetica';
  font-size: 22px;
  font-weight: 300;
  background-color: #E5E4E2;
  width: 100%;
}

.name {
  margin: 15px 0px 0px 0px;
  display: inline-block;
  font-size: 42px;
  float:left;
  padding-left:100px;
}

.nav {
  margin: 0;
  display: inline-block;
  float: right;
  padding-top: 0px;
  padding-right: 100px;
}

.nav-list {
  padding: 0;
}

.nav-list li {
  margin: 0;
  display: inline-block;
  list-style: none;
  padding-top: 13px;
  padding-left: 40px;
}

.nav-list :hover {
  color: #52D017;
}

.nav a {
  text-decoration: none;
  color: black;
}

.name a {
  text-decoration: none;
  color: black;
}

.icon-list li {
  margin: 0;
  display: inline-block;
  list-style: none;
}

.footer {
  text-align: center;
}

.main-text {
  padding-left: 100px;
  padding-right: 100px;
}

/*h1 {
  font-family: 'Inconsolata','Times New Roman';
  font-size: 24px;
  color: #0C090A;
  letter-spacing: 0.25em;
  text-align: left;
  padding: 0px 0px 20px 5px
}
  
body {
  text-align: left;
  font-size: 16px;
  font-family: 'Inconsolata', 'Times New Roman';
}

p {
  text-align: left;
  line-height: 1.5;
  max-width: 800px;
  width: 100%;
}*/  

/*h1 {
  font-size: 12 px;
  font-family: Georgia;
  color: yellow;
  margin: 20px;
  padding: 40px;
}

h1 a {
  color: #FFFFFF
}

#container {
  height:150;
  width:351;
  position:relative;
}

#image {
  postiion:absolute;
  left: 0;
  top 0;
}

#text {
  z-index:100;
  position:absolute;
  color:red;
  font-size:24px;
  font-weight:normal;
  left:200;
  top: 150;

body {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  width 100%;
  margin: 20px 0;
}

nav ul li {
  width: 50%;
  }

nav ul li a {
  display: block;
  width: 100%;
}



/*Can do font-size: 12px; and color: navy; in body and border: 2

/* Makes links red, p would color the paragraphsi */

/*p {
  color: red;
}

a {
  color: red;
}

body {
  font-size: 14px;
  color: navy
}*/

